<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Task-Manager</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1>Hello World</h1>

    <p>Hello, my name is not Timmy!</p>

    <h2>Timmy hates all of the following:</h2>
    <ul>
        <li>Travelers who chase pigeons away</li>
        <li>Travelers who murder the ducks (even if the ducks deserve it)</li>
        <li>Ducks who eat the bread for the pigeons</li>
    </ul>

</body>

</html>