body {
    color: rgb(229, 236, 242);
    background-color: rgb(5, 5, 60);
}
h1{
    color: darkgoldenrod;
    border-width: 3px;
    border-color: darkcyan;
    border-style: solid;
    display: inline;
}